absl-py
aiofiles
gradio
albumentations
annotated-types
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
argparse
arrow
assertpy
astor
asttokens
attrs
backcall
beautifulsoup4
bleach
braceexpand
brotli
cachetools
cffi
click
cloudpickle
colorama
coloredlogs
comm
contextlib2
# - cpython
debugpy
decorator
defusedxml
# - diffusers
dpcpp-cpp-rt
easing-functions
einops
exceptiongroup
executing
fastapi
fastargs
fastjsonschema
fastrlock
ffmpy
filelock
flatbuffers
fonttools
fqdn
fsspec
future
google-auth
google-auth-oauthlib
gradio-client
grpcio
h11
httpcore
httpx
huggingface-hub
humanfriendly
imageio
imgcat
importlib-metadata
intel-cmplr-lib-rt
intel-cmplr-lic-rt
intel-opencl-rt
intel-openmp
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
joblib
json-tricks
jsonpointer
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-server
jupyter-server-terminals
jupyterlab-pygments
jupyterlab-widgets
kornia
legacy
lightning-utilities
lion-pytorch
llvmlite
lpips
markdown
matplotlib-inline
mistune
mkl
mkl-random
mkl-service
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
ntools
numpy
oauthlib
omegaconf
onnx
onnxruntime
opencv-python
opencv-python-headless
orjson
overrides
packaging
pandocfilters
parso
pexpect
pickleshare
piqa
prettytable
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py4j
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydeprecate
pydub
pygments
pymongo
pyparsing
pyrsistent
pysolar
python-json-logger
python-multipart
python-slugify
pytz
pywavelets
pyzmq
qtconsole
qtpy
qudida
randaugment
regex
requests-oauthlib
responses
rfc3339-validator
rfc3986-validator
rsa
schema
scikit-image
scikit-learn
scipy
seaborn
semantic-version
send2trash
simplejson
skylibs
sniffio
soupsieve
stack-data
starlette
tbb
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
terminado
terminaltables
text-unidecode
threadpoolctl
tifffile
tinycss2
tokenizers
toolz
torchmetrics
tornado
tqdm
traitlets
transformers
uri-template
urllib3
uvicorn
wcwidth
webcolors
webdataset
webencodings
websocket-client
websockets
werkzeug
widgetsnbextension
yacs
zipp
matplotlib
imutils
pytorch-msssim

